*{
    margin:0;
    padding:0;
    
}
.introduce{
    width: 1400px;
    margin:100px auto;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    
    
}
div.a1{
    color:#af201c;
    font-size:48px;
    font-weight: bold;
    text-align: center;
}
div.text{
    width: 1000px;
    color:#fff;
    background-color: black;
    font-size:24px;
    margin: 0 auto;
    padding-top:105px;
    padding-right:26px;
    padding-left:26px;
    line-height:48px;
    text-align: justify;
    opacity: 0.5;

}
